In [3]:
import defolt_picture as main

In [13]:
df_with_backet = main.read_data('result.csv')

<class 'pandas.core.frame.DataFrame'>
MultiIndex: 74650 entries, (Лизинговый расчет 00000003827 от 25.03.2016 12:49:37, Москва c40c3cfc-c) to (Лизинговый расчет 00000552011 от 27.10.2019 15:30:34, Екатеринбург 78d9ad76-8)
Columns: 121 entries, 01.01.2018 to backet_01.12.2022
dtypes: float64(60), object(61)
memory usage: 70.4+ MB

In [4]:
rating_target = main.get_rating_target_values("высокий")

In [5]:
rating_values = rating_target[0]
trgt_rating = main.get_rating_target_per_years()
trgt_rating

                 2018  2019  2020  2021  2022
высокий          0.52  0.50  0.46  0.40  0.34
средний          0.26  0.27  0.30  0.34  0.35
низкий           0.20  0.21  0.22  0.24  0.25
экспресс без ФА  0.02  0.02  0.02  0.02  0.06

In [6]:
backet_target = main.get_backet_target_values()

In [7]:
df_with_backet = main.construct_default_picture(
    df, 
    rating_target, 
    backet_target)

AttributeError: 'Backetnames' object has no attribute 'without'

In [14]:
res = {}
for column in df_with_backet.columns:
    tmp = column.split('_')
    if 'backet' in tmp:
        month = tmp[1]
        res[month] = df_with_backet.groupby(column)[month].sum().to_dict()

In [18]:
main.pd.DataFrame(res).T(in)

                   1-30  Без просрочки      31-60       defolt
01.01.2018   402,563.62  13,648,064.37        nan          nan
01.02.2018   278,042.22  14,789,053.24        nan          nan
01.03.2018   200,442.83  16,876,427.32 110,289.23          nan
01.04.2018   493,965.07  19,643,019.45   9,132.24          nan
01.05.2018   241,901.08  22,681,930.90        nan          nan
01.06.2018   457,254.41  24,968,566.47  73,775.03          nan
01.07.2018   443,619.14  27,506,521.74  36,828.03          nan
01.08.2018   480,755.79  30,261,519.95  99,139.97          nan
01.09.2018   697,189.58  32,762,608.07 153,596.41          nan
01.10.2018   826,416.21  36,465,838.01 102,968.69          nan
01.11.2018   902,982.46  40,724,540.42  49,558.07    11,157.00
01.12.2018   872,825.33  45,385,278.78  18,735.58    11,157.00
01.01.2019   625,968.55  49,259,406.05 162,184.36    11,157.00
01.02.2019   856,803.18  50,664,450.04  68,748.10    25,788.62
01.03.2019   924,538.22  54,165,444.31 123,098.98    25,788.62
01.04.2019   898,884.52  58,243,283.36 306,321.69    33,791.12
01.05.2019 1,052,299.90  62,577,995.37 148,169.57    33,772.44
01.06.2019 1,253,724.12  64,675,926.51  43,562.56    33,768.41
01.07.2019   849,121.91  68,115,077.64 178,907.65    40,835.15
01.08.2019 1,247,492.99  73,869,922.39 156,500.80    81,407.25
01.09.2019 1,299,316.63  77,763,935.36 199,868.94    96,130.56
01.10.2019 1,162,384.71  81,446,457.17 378,540.98   120,393.69
01.11.2019 1,580,350.26  85,048,190.67 191,118.89   122,278.62
01.12.2019 1,566,090.84  88,382,082.41 316,397.46   120,739.40
01.01.2020 1,644,179.55  92,631,148.58 312,457.46   168,240.58
01.02.2020 1,556,257.92  95,867,476.85 333,469.18   219,101.00
01.03.2020 1,646,056.60  98,380,461.45 363,772.95   258,569.37
01.04.2020 1,635,548.35 102,186,547.29 416,001.86   306,160.95
01.05.2020 1,814,942.80 105,108,317.24 370,141.24   383,117.94
01.06.2020 1,850,031.44 109,943,742.01 563,663.17   363,871.71
01.07.2020 2,037,223.24 113,767,058.71 464,250.84   483,535.68
01.08.2020 2,260,328.07 117,890,762.00 346,915.69   550,821.09
01.09.2020 2,007,918.97 122,136,562.35 469,519.95   593,713.46
01.10.2020 2,279,076.84 125,324,571.26 442,712.11   671,401.48
01.11.2020 2,404,821.13 130,760,469.72 550,231.21   681,504.57
01.12.2020 2,410,944.93 135,365,644.59 566,936.98   707,079.06
01.01.2021 2,525,189.33 141,368,972.87 657,301.38   752,386.85
01.02.2021 2,605,618.97 144,461,594.35 696,978.76   959,246.98
01.03.2021 2,882,575.13 145,712,321.79 659,175.89   917,901.47
01.04.2021 2,691,831.77 150,306,465.00 860,771.90 1,000,193.90
01.05.2021 2,960,380.46 153,579,204.82 815,836.44 1,095,843.35
01.06.2021 3,008,834.14 157,104,088.59 819,209.26 1,116,861.97
01.07.2021 3,021,238.36 159,500,271.01 889,191.67 1,184,654.72
01.08.2021 3,281,725.20 163,770,721.64 824,358.60 1,306,072.95
01.09.2021 3,158,379.79 166,907,801.10 929,454.43 1,402,281.54
01.10.2021 3,320,640.07 169,294,755.19 923,775.65 1,436,630.45
01.11.2021 3,360,873.67 173,327,720.11 827,450.25 1,574,001.21
01.12.2021 3,354,179.44 176,640,627.24 956,225.24 1,671,976.75
01.01.2022 3,894,217.37 182,384,042.06 684,480.46 1,849,680.92
01.02.2022 3,685,881.02 180,328,942.36 679,376.85 1,896,934.83
01.03.2022 3,512,239.60 174,416,990.46 699,183.13 1,815,725.14
01.04.2022 3,406,874.73 170,111,657.26 687,010.19 1,754,623.45
01.05.2022 3,110,764.70 164,565,362.49 884,354.85 1,714,258.71
01.06.2022 3,252,847.77 159,424,133.77 839,502.04 1,762,847.40
01.07.2022 3,017,708.66 153,601,890.14 813,726.43 1,817,531.58
01.08.2022 3,063,361.06 147,678,045.09 763,133.78 1,808,168.11
01.09.2022 2,851,001.24 141,115,643.14 801,118.65 1,860,164.14
01.10.2022 3,382,576.78 134,969,254.45 662,844.72 1,794,641.55
01.11.2022 2,611,062.52 128,832,286.71 603,182.09 1,822,262.83
01.12.2022 2,424,243.82 122,161,341.95 659,983.36 1,770,225.09